
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

<style>
    .im {
   width:150px;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 15px;
        color: black;
    }

</style>
<header>
    <img src="\Content\Images\logo-lg.png" class="img-responsive im" align="left"/>
    <ul class="nav justify-content-end bl">
        <li class="nav-item">
            <a class="nav-link active" href="#"><b>Home</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><b>Features</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><b>App</b></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><b>Plans & Pricing</b></a>
        </li>
        <li class="nav-item">
            <button class="btn btn-group-lg">Sign Up</button>
        </li>
</ul>
</header>
<div class="container">
<img src="\Content\Images\snowfall.jpg" />
</div>